* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: #f6f8ff;
  --text-color: #4b6a9b;
  --bg-card-color: #fefefe;
  --bg-btn-color: #0079ff;
}

body {
  background-color: var(--bg-color);
  font-family: 'Space Mono', monospace;
  padding: 24px;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.theme_switcher {
  display: flex;
  align-items: center;
  gap: 12px;
}

.theme {
  text-transform: uppercase;
  color: var(--text-color);
  letter-spacing: 2px;
  font-weight: bold;
  font-size: 13px;
}

.searchbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--bg-card-color);
  border-radius: 8px;
  padding: 6px;
  width: 100%;
  margin-top: 35px;
  box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.2);
}

input {
  outline: none;
  border: none;
  font-size: 16px;
}

input::placeholder {
  color: var(--text-color);
}

button {
  background-color: var(--bg-btn-color);
  border: none;
  border-radius: 10px;
  color: #fff;
  padding: 15px 18px;
  font-size: 14px;
  font-weight: 700;
}

/* main styles*/

main {
  margin-top: 15px;
  padding: 22px;
  background-color: var(--bg-card-color);
  border-radius: 15px;
  box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.2);
}

.info {
  display: flex;
  gap: 20px;
}

.info > div > p {
  color: var(--bg-btn-color);
}

.info > div > span {
  font-size: 13px;
  color: #697c9a;
}

.bio {
  margin-top: 20px;
  color: var(--text-color);
  line-height: 25px;
  font-size: 13px;
}

.card {
  margin-top: 24px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  text-align: center;
  background-color: var(--bg-color);
  color: var(--text-color);
  padding: 20px;
  border-radius: 10px;
}

.card > div > h3 {
  font-size: 13px;
}

.card > div > p {
  font-weight: bold;
  color: black;
}

.socials {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.socials > a {
  display: flex;
  gap: 20px;
  text-decoration: none;
}

.socials > a > p {
  color: var(--text-color);
  font-size: 13px;
}

.user-img {
  width: 100px;
  height: 100px;
  border-radius: 50px;
}
